<footer>
    <div class="content-padding">
        <div class="footer-content">
            <p>Copyright &copy; Tevin Achong</p>

            <div class="social-media-icons">
                <a href="#"></a>
                <a href="#"></a>
            </div>
        </div>
    </div>
</footer>